p >  code {
    color: #ff502c !important;
    background-color: #fff5f5 !important;
}
.content__default blockquote{
    background-color: #EDF8F3 !important;
    border-left: 0.25rem solid #67CC86 !important;
}